#sidebar {
  height: 100%;
  border-right: 1px solid var(--border);
  background: var(--background-nav);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 50px;
}

#sidebar .nav-top {
  display: flex;
  align-items: center;
  gap: 30px;
}

#sidebar .nav-top #close-sidebar-icon {
  display: none;
  width: 15px;
  cursor: pointer;
}

#sidebar #logo {
  width: 40.8%;
}

#sidebar nav {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#sidebar #logo,
#sidebar nav h2 {
  margin-left: 2.219em;
  margin-right: 10px;
}

#sidebar nav h2 {
  width: 100%;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

#sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

@media screen and (max-width: 810px) {
  #sidebar {
    width: 0;
    position: absolute;
    z-index: 9999;
  }

  #sidebar.open {
    width: 100%;
    max-width: 227px;
  }

  #sidebar.open .nav-top #close-sidebar-icon {
    display: block;
  }

  #sidebar .nav-top #close-sidebar-icon {
    display: none;
  }
}
